.tekstijutut{
    display: flex;
}


.teksti{
    padding: 5px;
    border-style: dashed;
    border-color: black;
    
}

.teksti1 {
    float: left;
    padding: 20px;
    flex: 50%;
    font-size: 22px;
    color: rgb(0, 0, 0);
    

}

.teksti2 {
    float: right;
    padding: 20px;
    flex: 50%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    
}

.otsikko2 {
    padding: 15px;
    
    font-size: 35px;
}

.otsikko {
    
    padding: 5px;
    background: rgb(122, 0, 0);
    text-align: center;
    color: white;
    font-size: 35px;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;

    
}

.sidebar {
    float: left;
    padding: 10px;
    background: rgb(194, 194, 194);
    
    font-size: 25px;
    color: rgb(0, 0, 0);
    height: 1000px;
    width: 10%;
    
}

.linkit{
    list-style-type: none;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    padding: 5px;

}

.linkkiotsikko{
    color: black;
    font-size: 30px;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

.nav{
    
    background: lightblue;
    margin: auto;
    padding: 20px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    
    text-align: center;
}


.navi{
    padding: 0;
    margin: 0;
    list-style-type: none;
   
}

.navitem{
    display: inline;
    margin: 25px;
}

.listajuttu{
    margin: 5px;
}

footer{
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    background: rgb(51, 51, 51);
    color: white;
    text-align: center;
    

}

img {
    display: block;
    width: 1680px;
}

.linkit{
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;

}

.linkkiotsikko{
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin: 10px;
}

html {
    margin: 0;
    padding: 0;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: darkblue;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:active{
    color: rgb(125, 70, 226);
    text-decoration: underline;
}

